<table>
    <tr>
        <th>Activity</th>
        <th>Description</th>
        <th>Address</th>
        <th></th>
    </tr>
    <tr ng-repeat="data in venues">
        <td>{{ data.name }}</td>
        <td>{{ data.categories[0].name }}</td>
        <td>{{ data.location.address }}</td>
        <td ng-if="data.promotion.haspromotion">
            <div class="tooltip-custom"><div class="fucking-etoile">*</div>
                <span class="tooltiptext-custom">{{ data.promotion.description }}
                    <div id="placeHolder"></div>
                </span>
            </div>
        </td>
        <td ng-if="!data.promotion.haspromotion">
            <div>X</div>
        </td>
    </tr>
</table>

<script>
    var typeNumber = 4;
    var errorCorrectionLevel = 'L';
    var qr = qrcode(typeNumber, errorCorrectionLevel);
    qr.addData('Hi!');
    qr.make();
    document.getElementById('placeHolder').innerHTML = qr.createImgTag();
</script>

