.tooltip-custom {
    position: relative;
    display: inline-block;
}

.tooltip-custom .tooltiptext-custom {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin: 5px;
    width: 100px;

    position: absolute;
    z-index: 1;
}

.tooltip-custom:hover .tooltiptext-custom {
    visibility: visible;
}

.fucking-etoile{
    color: gold;
}