<table class="table table-striped table-bordered table-hover text-center">
    <thead class="text-center">
        <tr>
            <strong>
                <th scope="col">Activity</th>
                <th scope="col">Description</th>
                <th scope="col">Address</th>
                <th scope="col">Deal</th>
            </strong>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in venues">
            <td>{{ data.name }}</td>
            <td>{{ data.categories[0].name }}</td>
            <td>{{ data.location.address }}</td>
            <td ng-if="data.promotion.haspromotion">
                <div class="tooltip-custom"><i class="material-icons" style="color:gold;">&#xE83A;</i>
                    <span class="tooltiptext-custom">{{ data.promotion.description }}
                        <div id="placeHolder"></div>
                    </span>
                </div>
            </td>
            <td ng-if="!data.promotion.haspromotion">
                <i class="material-icons">&#xE14C;</i>
            </td>
        </tr>
    </tbody>
</table>

<script>
    var typeNumber = 4;
    var errorCorrectionLevel = 'L';
    var qr = qrcode(typeNumber, errorCorrectionLevel);
    qr.addData('Hi!');
    qr.make();
    document.getElementById('placeHolder').innerHTML = qr.createImgTag();
</script>

